.raju{
    margin-bottom: 10px;
   
}
.card-header{
   height: 100px;
   width: -10px;
    
    
}
.jh{
    margin-left: 150px;
}
 .vai{
     background-color: aqua;
     display: inline-block;
 }